<!DOCTYPE html>
	<html ng-app>
	<head>
		<meta charset="UTF-8">
		<title>Hola mundo con Angular JS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
	</head>
	<body>
		{{"Hola" + "Mundo"}}
	</body>
	</html>	