<!DOCTYPE html>
	<html ng-app = "MyFirstApp">
	<head>
		<meta charset="UTF-8">
		<title>Child Controllers</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
		<script src="controller.js"></script>
	</head>
	<body ng-controller="FirstController">
		{{nombre}}
		<p><strong>Valor del padre: </strong>{{$parent.nombre}}</p>
		<div ng-controller="ChildController">
			<p><strong>Valor del hijo: </strong>{{nombre}}</p>
			<input type="text" ng-model="nombre">
		</div>
	</body>
	</html>	