<!DOCTYPE html>
	<html ng-app = "CustomDirective">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="autocomplete-jquery-ui.structure.css">
		<link rel="stylesheet" href="style.css">
		<title>Mi primera directiva con AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
		<script src="//code.jquery.com/jquery-latest.min.js"></script>
		<script src="autocomplete-jquery-ui.js"></script>
		<script src="app.js"></script>
		<style>
			.circular{
				border-radius:50%;
				width: 100px;
				height: 100px;
				display: inline-block;
			}
			.no-list li{
				list-style-type: none;
			}
			body,html{
				text-align: center;
				background-color: #eee;
				margin: 0px;
			}
		</style>
	</head>
	<body ng-controller="AppCtrl">
		<input type="text" my-autocomplete="repos" placeholder="Buscar repositorio">
		<ul class="no-list" ng-cloak>
			<li ng-repeat="repo in posts" ng-hide="main_repo && main_repo != repo.name">
				<div class="circular" back-img="{{repo.owner.avatar_url}}"></div>
				<h1 class="inline-block">{{repo.name}}</h1>
			</li>
		</ul>
		<a ng-click="main_repo=null">Limpiar</a>
	</body>

	</html>	