<!DOCTYPE html>
	<html ng-app = "MyFirstApp">
	<head>
		<meta charset="UTF-8">
		<title>Dependency injection</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
		<script src="controller.js"></script>
	</head>
	<body ng-controller="FirstController">
		<input type="text" ng-model="nombre"> <br> <br>
		<input type="text" ng-model="nuevoComentario.comentario"> <br>
		<input type="text" ng-model="nuevoComentario.username"><br>
		<button ng-click="agregarComentario()">Agregar comentario</button>
		<h3>Comentarios</h3>
		<ul>
			<li ng-repeat="comentario in comentarios">
				{{comentario.comentario}} - <strong>{{comentario.username}}</strong>
			</li>
		</ul>
	</body>
	</html>	