<!DOCTYPE html>
	<html ng-app = "CustomDirective">
	<head>
		<meta charset="UTF-8">
		<title>Creando directivas en Angular</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
		<script src="app.js"></script>
		<style>
			.circular{
				border-radius:50%;
				width: 100px;
				height: 100px;
				display: inline-block;
			}
		</style>
	</head>
	<body ng-controller="AppCtrl">
		<ul class="no-list" ng-cloak>
			<li ng-repeat="repo in repos">
				<!--<div class="circular" style="background: url({{repo.owner.avatar_url}}); background-position: center; background-size: cover;"></div>-->
				<div class="circular" back-img="{{repo.owner.avatar_url}}"></div>
				<h1>{{repo.name}}</h1>
			</li>
		</ul>
	</body>
	</html>	