<!DOCTYPE html>
	<html ng-app = "MyFirstApp">
	<head>
		<meta charset="UTF-8">
		<title>AJAX con $http</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
		<script src="controller.js"></script>
	</head>
	<body ng-controller="FirstController">
		<input type="text" ng-model="newPost.title"><br>
		<textarea ng-model="newPost.body">
			
		</textarea>		
		<button ng-click="addPost()">Enviar</button>	
		<ul>
			<li ng-repeat="post in posts">
				<h2>{{post.title}}</h2>
				<p>
					{{post.body}}
				</p>
			</li>
		</ul>
	</body>
	</html>	