<!DOCTYPE html>
	<html ng-app = "MyFirstApp">
	<head>
		<meta charset="UTF-8">
		<title>Hola Controller</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
		<script src="controller.js"></script>
	</head>
	<body ng-controller="FirstController"><!--Directiva de controlador -->
		{{"Hola " + nombre}}
	</body>
	</html>	