<!DOCTYPE html>
	<html ng-app = "MyFirstApp">
	<head>
		<!--ocultar o mostrar cosas dependiendo el valor de cierta variable con los datos usando ng-hide
		o el inverso ng-show-->
		<meta charset="UTF-8">
		<title>Uso de ng-hide</title>
		<style>
			.animated{
				opacity: 1;
				max-height: auto;
				overflow: hidden;
				transition: all 2s;
			}
			.animated.ng-hide{
				opacity: 0;
				max-height: 0px !important;
				display: block !important;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
		<script src="controller.js"></script>
	</head>
	<body ng-controller="FirstController">			
		<!--<ul ng-hide="posts.length == 0" class="animated"> Recibe un booleano y oculta o muestra las cosas -->
		<!--<ul ng-show="posts.length != 0" class="animated"> Cuando el valor es falso agrega ng-hide-->
		<div ng-hide="posts.length > 0">Cargando...</div>
		<ul ng-show="posts.length > 0" class="animated">
			<li ng-repeat="post in posts">
				<h2>{{post.title}}</h2>
				<p>
					{{post.body}}
				</p>
			</li>
		</ul>
	</body>
</html>	