<!DOCTYPE html>
	<html ng-app = "mainModule">
	<head>
		<meta charset="UTF-8">
		<title>Ejemplo de $apply</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>		
		<script>
			angular.module("mainModule",[])
				.controller("FirstController",function($scope){
					$scope.nombre = "Jesus";
					/**setTimeout(function(){
						$scope.$apply(function(){
							$scope.nombre = "Codigo Facilito";
						});
					},2000);*/
					document.querySelector("#mi_boton").addEventListener("click",function(){
						$scope.$apply(function(){
							$scope.nombre = "Codigo Facilito";
						});
					});
				});
		</script>

	</head>

	<body ng-controller="FirstController">
		<h1>{{nombre}}</h1>
		<button id="mi_boton">Haz clic</button>
		<!--<button ng-click="nombre = 'Codigo facilito' ">Haz clic</button>-->
	</body>

</html>	