<!DOCTYPE html>
	<html ng-app = "CustomDirective">
	<head>
		<meta charset="UTF-8">
		<title>Ng-src y ng-cloak</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-controller="AppCtrl">
		<ul class="no-list" ng-cloak>
			<li ng-repeat="repo in repos">
				<img ng-src="{{repo.owner.avatar_url}}">
				<h1>{{repo.name}}</h1>
			</li>
		</ul>
		<!--ng-cloak: oculta el elemento hasta que haya compilado el template-->
	</body>
	</html>	