<!DOCTYPE html>
	<html ng-app = "mainModule">
	<head>
		<meta charset="UTF-8">
		<title>Mi primera página con AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
		<script src="angular-local-storage.min.js"></script>
		<script src="controller.js"></script>
	</head>
	<body ng-controller="FiltersController">
		{{mi_html2 | removeHtml}}
		<br>
		{{mi_html | json}}
		<p>
			{{costo | currency:'simbolo$'}}
		</p>
	</body>
</html>	