<!DOCTYPE html>
	<html ng-app>
	<head>
		<style>
			.hover{
				background-color: rgb(200,50,50);
			}
			.no-hover{
				background-color: rgb(500,200,50);
			}
		</style>
		<meta charset="UTF-8">
		<title>Ng-events Angular JS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
	</head>
	<body>
		<button ng-mouseover="bandera=true" ng-mouseout="bandera=false">
			Hover me
		</button> <span ng-show="bandera">&lt;-click me</span>
		<p>{{bandera | json}}</p>

		<button ng-click="bandera1 = !bandera1" ng-class="{'hover':bandera1, 'no-hover': !bandera1}">
			Hover me
		</button> <span ng-show="bandera1">&lt;-click me</span>
	</body>
	</html>	