<!DOCTYPE html>
	<html ng-app = "ToDoList">
	<head>
		<meta charset="UTF-8">
		<title>Mi primera página con AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
		<script src="angular-local-storage.min.js"></script>
		<script src="controller.js"></script>
	</head>
	<body ng-controller="ToDoController">
		<ul>
			<li ng-repeat="actividad in todo">
				{{actividad.descripcion}} - {{actividad.fecha | date: 'short'}} - <a href="#" ng-click="removeActv(actividad)" style="color:red;">x</a>
			</li>
		</ul>
		<form ng-submit="addActv()">
			<input type="text" ng-model="newActv.descripcion">
			<input type="datetime-local" ng-model="newActv.fecha">
			<input type="submit" value="Guardar actividad">
		</form>
		<!--<button ng-click="clean()">Limpiar</button>-->
		<button ng-click="clean()">Limpiar</button>
	</body>
</html>	